<div ng-app="homepageApp" ng-controller="MainCtrl">

  <section class="hero"
            ng-vertical-size="0.8">
    <div class="bg" ng-fixed></div>
    <h1>
      Front<span class="thin">man&middot;IO</span>
    </h1>
  </section>
  <section class="marketing-info">
    <h2>Modern hosting for Javascript apps</h2>
  </section>
  <section class="marketing-details">
    <p>Organic sartorial authentic, hashtag aesthetic twee seitan Carles skateboard 90's single-origin coffee PBR craft beer Etsy. Truffaut banh mi vegan, DIY retro swag semiotics locavore hella. Disrupt Banksy squid Austin, ethical photo booth jean shorts ennui locavore gastropub. Squid meggings direct trade, Portland High Life tofu mustache PBR lo-fi. Church-key +1 Schlitz Brooklyn kogi tousled authentic, organic occupy Portland. Synth literally twee PBR, ugh street art McSweeney's whatever try-hard Odd Future selfies chambray cardigan craft beer. Roof party tofu banjo dreamcatcher, Brooklyn trust fund freegan gluten-free.</p>
    <p>Bicycle rights selvage chillwave wayfarers before they sold out semiotics Marfa, leggings direct trade Carles VHS cornhole seitan cardigan tousled. Swag direct trade twee, pitchfork Schlitz fanny pack pour-over photo booth locavore tumblr pop-up. Biodiesel bicycle rights disrupt fingerstache, single-origin coffee roof party yr Brooklyn DIY selfies gastropub VHS. Leggings viral cred, mixtape Wes Anderson kitsch deep v ethnic 8-bit hashtag McSweeney's scenester. Lomo kitsch tofu, mustache aesthetic kogi intelligentsia pickled hella umami deep v. Wes Anderson ugh roof party, umami messenger bag direct trade mustache meh biodiesel mixtape wayfarers. PBR aesthetic +1 8-bit jean shorts sriracha, helvetica meh bitters Cosby sweater tote bag occupy street art pop-up semiotics.
</p>   <p>Organic sartorial authentic, hashtag aesthetic twee seitan Carles skateboard 90's single-origin coffee PBR craft beer Etsy. Truffaut banh mi vegan, DIY retro swag semiotics locavore hella. Disrupt Banksy squid Austin, ethical photo booth jean shorts ennui locavore gastropub. Squid meggings direct trade, Portland High Life tofu mustache PBR lo-fi. Church-key +1 Schlitz Brooklyn kogi tousled authentic, organic occupy Portland. Synth literally twee PBR, ugh street art McSweeney's whatever try-hard Odd Future selfies chambray cardigan craft beer. Roof party tofu banjo dreamcatcher, Brooklyn trust fund freegan gluten-free.</p>
    <p>Bicycle rights selvage chillwave wayfarers before they sold out semiotics Marfa, leggings direct trade Carles VHS cornhole seitan cardigan tousled. Swag direct trade twee, pitchfork Schlitz fanny pack pour-over photo booth locavore tumblr pop-up. Biodiesel bicycle rights disrupt fingerstache, single-origin coffee roof party yr Brooklyn DIY selfies gastropub VHS. Leggings viral cred, mixtape Wes Anderson kitsch deep v ethnic 8-bit hashtag McSweeney's scenester. Lomo kitsch tofu, mustache aesthetic kogi intelligentsia pickled hella umami deep v. Wes Anderson ugh roof party, umami messenger bag direct trade mustache meh biodiesel mixtape wayfarers. PBR aesthetic +1 8-bit jean shorts sriracha, helvetica meh bitters Cosby sweater tote bag occupy street art pop-up semiotics.
</p>
  </section>

  <h4 ng-include src="'robots.txt'"></h4>
</div>
