<div ng-app="homepageApp" ng-controller="MainCtrl">

  <section class="hero" ng-vertical-size="0.8">
    <h1>
      Front<span class="thin">man&middot;IO</span>
    </h1>
  </section>
  <section class="marketing-info">
    <h2>Modern hosting for Javascript apps</h2>
  </section>
</div>
